

.App {
  text-align: center;
}

h1 {
	font-family: "Arial Black", "Arial Bold", Gadget, sans-serif;
	font-size: 24px;
	font-style: normal;
	font-variant: normal;
	font-weight: 500;
	line-height: 26.4px;
  text-align: center;
}
.navbar-light {
    background-color: rgb(227, 242, 253);
}
.navbar {
  margin-bottom: 0;
  position: absolute;
  width: 100%;
}
h4 {
  text-align: center;
}

img {
  size: auto;
}

.food-image {
  background-image: url('../images/coffee-food.jpg');
  background-size: cover;
  height: 500px;
  width: 100%;
}

#sign-out {
  // height: 100px;
  // width: 100%;
  text-align: center;
}

#sign-in {
  // height: 100px;
  // width: 100%;
}

.brunch {
  background-image: url('../images/brunch.jpg');
  background-size: cover;
  width: 49.5%;
  height: 500px;
}

.fruits {
  background-image: url('../images/fruits.jpg');
  background-size: cover;
  height: 500px;
  width: 49.5%;
}

.steak {
  background-image: url('../images/steak.jpg');
  background-size: 60%;
  height: 1000px;
  width: 70%;
  float: right;
}

.group-meal {
  background-image: url('../images/group-meal.jpg');
  background-size: cover;
  height: 100vh;

}

.profile {
  text-align: center;
}
@import 'components/profilepage';
